In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [3]:
imp = IterativeImputer(max_iter=100, random_state=0)

In [5]:
features = [[4, 2, 1],
            [24, 12, 6],
            [8, np.nan, 2],
            [28, 14, 7],
            [32, 16, np.nan],
            [600, 300, 150],
            [np.nan, np.nan, 1]]

In [6]:
imp.fit(features)

IterativeImputer(add_indicator=False, estimator=None,
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=100, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=None, random_state=0,
                 sample_posterior=False, skip_complete=False, tol=0.001,
                 verbose=0)

In [7]:
imp.transform(features)

array([[  4.        ,   2.        ,   1.        ],
       [ 24.        ,  12.        ,   6.        ],
       [  8.        ,   4.00000014,   2.        ],
       [ 28.        ,  14.        ,   7.        ],
       [ 32.        ,  16.        ,   6.40584095],
       [600.        , 300.        , 150.        ],
       [ 37.73978835,  18.86989138,   1.        ]])

In [8]:
X_test = [[np.nan, 24, 12],
          [36, np.nan, np.nan],
          [100, np.nan, 25],
          [np.nan, 6, 3],
          [np.nan, 8, np.nan]]

In [9]:
imp.transform(X_test)

array([[ 47.99999997,  24.        ,  12.        ],
       [ 36.        ,  17.99999958,   7.41470823],
       [100.        ,  50.00000012,  25.        ],
       [ 11.99999997,   6.        ,   3.        ],
       [ 15.99999984,   8.        ,   2.37037162]])

In [14]:
sales = pd.read_csv("https://raw.githubusercontent.com/JohnMHoyt24/mvf-imputation/main/nyc-rolling-sales.csv")
sales.head(5)

   Unnamed: 0  BOROUGH  ... SALE PRICE            SALE DATE
0           4        1  ...    6625000  2017-07-19 00:00:00
1           5        1  ...        -    2016-12-14 00:00:00
2           6        1  ...        -    2016-12-09 00:00:00
3           7        1  ...    3936272  2016-09-23 00:00:00
4           8        1  ...    8000000  2016-11-17 00:00:00

[5 rows x 22 columns]

In [15]:
sales.isnull().sum()

Unnamed: 0                        0
BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING CLASS CATEGORY           0
TAX CLASS AT PRESENT              0
BLOCK                             0
LOT                               0
EASE-MENT                         0
BUILDING CLASS AT PRESENT         0
ADDRESS                           0
APARTMENT NUMBER                  0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
BUILDING CLASS AT TIME OF SALE    0
SALE PRICE                        0
SALE DATE                         0
dtype: int64

In [33]:
#sales_features.drop(['NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE'], axis=1)
#Removed columns with non-numerical data
sales_features = sales.drop(['Unnamed: 0', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'EASE-MENT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE'], axis=1)

sales_features.head()

   BOROUGH  BLOCK  LOT  ...  TOTAL UNITS  YEAR BUILT  TAX CLASS AT TIME OF SALE
0        1    392    6  ...            5        1900                          2
1        1    399   26  ...           31        1900                          2
2        1    399   39  ...           17        1900                          2
3        1    402   21  ...           10        1913                          2
4        1    404   55  ...            6        1900                          2

[5 rows x 9 columns]

In [34]:
imp = IterativeImputer(max_iter=10000, random_state=0)

In [35]:
imp.fit(sales_features)

IterativeImputer(add_indicator=False, estimator=None,
                 imputation_order='ascending', initial_strategy='mean',
                 max_iter=10000, max_value=None, min_value=None,
                 missing_values=nan, n_nearest_features=None, random_state=0,
                 sample_posterior=False, skip_complete=False, tol=0.001,
                 verbose=0)

In [42]:
sales_transform = imp.transform(sales_features)

sales_df = pd.DataFrame(sales_transform, columns=sales_features.columns)
sales_df.head()

   BOROUGH  BLOCK   LOT  ...  TOTAL UNITS  YEAR BUILT  TAX CLASS AT TIME OF SALE
0      1.0  392.0   6.0  ...          5.0      1900.0                        2.0
1      1.0  399.0  26.0  ...         31.0      1900.0                        2.0
2      1.0  399.0  39.0  ...         17.0      1900.0                        2.0
3      1.0  402.0  21.0  ...         10.0      1913.0                        2.0
4      1.0  404.0  55.0  ...          6.0      1900.0                        2.0

[5 rows x 9 columns]

In [44]:
#sales.isnull().sum()
sales_df.isnull().sum()

BOROUGH                      0
BLOCK                        0
LOT                          0
ZIP CODE                     0
RESIDENTIAL UNITS            0
COMMERCIAL UNITS             0
TOTAL UNITS                  0
YEAR BUILT                   0
TAX CLASS AT TIME OF SALE    0
dtype: int64

In [58]:
!dir

C:\\Datasets			   sample_data
C:\\Datasets\\sales_processed.csv  sample_data\\sales_processed.csv
sales_processed.csv

In [67]:
sales_processed = pd.read_csv("sales_processed.csv")
sales_processed.head()
sales_processed.drop(['Unnamed: 0'], axis=1)

       BOROUGH   BLOCK  ...  YEAR BUILT  TAX CLASS AT TIME OF SALE
0          1.0   392.0  ...      1900.0                        2.0
1          1.0   399.0  ...      1900.0                        2.0
2          1.0   399.0  ...      1900.0                        2.0
3          1.0   402.0  ...      1913.0                        2.0
4          1.0   404.0  ...      1900.0                        2.0
...        ...     ...  ...         ...                        ...
84543      5.0  7349.0  ...      1998.0                        1.0
84544      5.0  7349.0  ...      1998.0                        1.0
84545      5.0  7351.0  ...      1925.0                        1.0
84546      5.0  7100.0  ...      2001.0                        4.0
84547      5.0  7105.0  ...      2006.0                        4.0

[84548 rows x 9 columns]